.container {
    border-radius: 48px 48px 0px 0px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    width: 100%;
    margin-top: 330px;
    background-color: black;
}

.header {
    width: 51.125rem;
    height: 12rem;
    flex-shrink: 0;

    margin-bottom: 6.5rem;
    margin-top: 125px;
}

.h1 {
    display: flex;
    width: 51.125rem;
    flex-direction: column;
    flex-shrink: 0;
    color: #dadfe5;
    font-size: 6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.36rem;
}

.text {
    display: flex;
    width: 51.125rem;
    flex-direction: column;
    flex-shrink: 0;
    color: #dadfe5;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.09rem;

    margin-top: 1.5rem;
}

.cardContainer {
    height: 86rem;
    width: 51.125rem;
    display: inline-flex;
    flex-direction: column;

    align-items: flex-start;
    gap: 1.5rem;
    margin-top: 1rem;
}

.background {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.bigCard {
    display: flex;
    position: relative;
    padding: 10.625rem 25.625rem 1.5rem 1.5rem;
    align-items: center;
    border-radius: 0.25rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.twoCards {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;

    height: 31.5rem;
    width: 51.125rem;
}

.smallCard {
    display: flex;
    height: 100%;
    width: 25rem;

    padding: 19.125rem 4.3125rem 1.5rem 1.5rem;
    flex-direction: column;

    border-radius: 0.25rem;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .card1 {
    background-image: linear-gradient(0deg, rgb(89, 3, 3, 0.7), rgb(89, 3, 3, 0.7)),
        url(/image/bigCardbackground.gif);
}

.card2 {
    background-image: linear-gradient(0deg, rgb(31, 3, 89, 0.7), rgb(31, 3, 89, 0.7)),
        url(/image/bigCardbackground.gif);
}

.card3 {
    background-image: linear-gradient(0deg, rgb(82, 3, 89, 0.7), rgb(82, 3, 89, 0.7)),
        url(/image/bigCardbackground.gif);
} */

.card1 {
    background-image: url(/image/Frame1.png);
}
.card2 {
    background-image: url(/image/Frame2.png);
}
.card3 {
    background-image: url(/image/Frame3.png);
}

.card4 {
    background-image: linear-gradient(0deg, rgb(89, 34, 3, 0.7), rgb(89, 34, 3, 0.7)),
        url(/image/bigCardbackground.gif);
}

.card5 {
    background-image: linear-gradient(0deg, rgb(3, 58, 89, 0.7), rgb(3, 58, 89, 0.7)),
        url(/image/bigCardbackground.gif);
}

.card6 {
    background-image: linear-gradient(0deg, rgb(31, 89, 3, 0.7), rgb(31, 89, 3, 0.7)),
        url(/image/bigCardbackground.gif);
}

.card7 {
    background-image: linear-gradient(0deg, rgb(147, 97, 0, 0.7), rgb(147, 97, 0, 0.7)),
        url(/image/bigCardbackground.gif);
}

.card8 {
    background-image: linear-gradient(0deg, rgb(82, 3, 89, 0.7), rgb(82, 3, 89, 0.7)),
        url(/image/bigCardbackground.gif);
}

.card9 {
    background-image: linear-gradient(0deg, rgb(82, 3, 89, 0.7), rgb(82, 3, 89, 0.7)),
        url(/image/bigCardbackground.gif);
}

.card10 {
    background-image: linear-gradient(0deg, rgb(89, 3, 49, 0.7), rgb(89, 3, 49, 0.7)),
        url(/image/bigCardbackground.gif);
}

.point {
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;

    background: #dadfe5;
}

.one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 46px;
    margin-bottom: 1vh;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.36px;
    gap: 8px;
}

.cardHeader {
    display: flex;
    width: 24rem;
    flex-direction: column;
    justify-content: flex-end;
    color: #dadfe5;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.18rem;
}

.smallCardHeader {
    display: flex;
    width: 19rem;
    flex-direction: column;
    color: #dadfe5;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.18rem;
}

.button {
    display: flex;
    width: 24.875rem;
    height: 4.875rem;
    padding: 1.75rem 3rem;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    flex-shrink: 0;
    border-radius: 3.75rem;
    background: #141517;

    color: #dadfe5;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 90%;
    letter-spacing: -0.06rem;
    margin: 100px 0;
}

.button:hover {
    background: #202024;
}

.button:active {
    background: #141517;
}

@media screen and (max-width: 900px) {
    .twoCards {
        flex-direction: column;
        width: 100%;
        height: unset;
        gap: 16px;
    }

    .header {
        width: 100%;
        margin-left: 10px;
        margin-bottom: 80px;
    }

    .h1 {
        width: 100%;
        font-size: 56px;
        font-weight: 700;
        line-height: 95%;
        letter-spacing: -3.36px;
    }

    .text {
        width: 90%;
        font-size: 19px;
    }

    .bigCard {
        display: flex;
        align-items: flex-end;

        padding: 9.8rem 1.3125rem 1.5rem 1.5rem;
        width: 100%;
        height: auto;
        aspect-ratio: 1.225;
    }

    .smallCard {
        display: flex;
        justify-content: flex-end;

        padding: 9.8rem 1.3125rem 1.5rem 1.5rem;
        width: 100%;
        height: auto;
        aspect-ratio: 1.225;
    }

    .cardHeader {
        letter-spacing: -1px;
        font-size: 56px;
        width: 100%;
    }
    .smallCardHeader {
        width: 100%;
        letter-spacing: -1px;
        font-size: 56px;
    }

    .one {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 38px;
        margin-bottom: 1vh;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: -0.28px;
        gap: 6px;
    }

    /* CARD BEFORE ASPECT_RATIO
    .bigCard {
        padding: 9.8rem 1.3125rem 1.5rem 1.5rem;
        width: 100%;
        height: unset;
    } */
    /* .cardHeader {
        letter-spacing: -1px;
        font-size: 32px;
        width: 100%;
    } */

    .cardContainer {
        height: unset;
        width: 100%;
        gap: 16px;
        margin-top: 16px;
    }

    .button {
        margin: 0 auto;
        margin-top: 32px;
        width: 100%;
        height: 7vh;

        font-size: 16px;
        padding: unset;
        padding-left: 20px;
    }
}

@media screen and (min-width: 1890px) {
    .container {
        width: 1792px;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        width: 95%;
        padding: 0 8%;
    }
}

@media screen and (max-width: 900px) {
    .container {
        width: 100%;
        padding: 0 16px;
    }
}

@media screen and (max-width: 500px) {
    .cardHeader {
        letter-spacing: -1px;
        font-size: 32px;
        width: 100%;
    }
    .smallCardHeader {
        width: 100%;
        letter-spacing: -1px;
        font-size: 32px;
    }
}
