.container {
    height: 100%;

    display: flex;
    flex-direction: column;
    position: relative;
    background: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 156px;
    padding-bottom: 200px;
}

.hidden {
    display: none;
}

.show {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
}

.imageBlockRight {
    width: 30rem;
    margin-top: 3vh;
    margin-left: 29rem;
    display: flex;
    gap: 300px;
}

.imageBlockLeft {
    width: 30rem;
    display: flex;
    gap: 300px;
}

.h1 {
    display: flex;
    width: 29.0625rem;
    flex-direction: column;
    color: #dadfe5;
    flex-shrink: 0;
    font-size: 8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 76%;
    letter-spacing: -0.48rem;

    margin-left: -21rem;

    z-index: 0;
}

.button {
    display: flex;
    width: 24.875rem;
    height: 4.875rem;
    padding: 1.75rem 3rem;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    flex-shrink: 0;

    background: #141517;
    border-radius: 3.75rem;

    color: #dadfe5;
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 90%;
    letter-spacing: -0.06rem;
    margin-top: 6rem;
}

.button:hover {
    background: #202024;
}

.button:active {
    background: #141517;
}

.howContainer {
    padding-top: 100px;
    width: 69%;
    padding: 400px 0;
}

@media screen and (max-width: 900px) {
    .container {
        margin-top: 200px;
        width: unset;
        left: unset;
        padding: unset;
        overflow: hidden;
    }

    .h1 {
        width: 100%;
        margin-left: 0;
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: -0.12rem;
    }

    .imageBlockLeft {
        margin-left: unset;
        flex-direction: column;
        margin-top: 50px;
        gap: 40px;
        width: 100%;
    }

    .imageBlockRight {
        margin-left: unset;
        flex-direction: column;
        gap: 40px;
        align-self: self-end;
        padding-left: 28%;
        width: 100%;
    }

    .button {
        margin: 0 auto;
        margin-top: 50px;
        width: 100%;
        width: 95%;
        height: 7vh;

        font-size: 16px;
    }

    .howContainer {
        width: unset;
        padding: 7rem 0;
    }

    .imageBlockRight {
        width: unset;
        padding-left: unset;
        align-items: flex-end;
    }
}

@media screen and (max-width: 340px) {
    .button {
        width: 100%;
        padding: 1.75rem 2rem;
    }

        .container {
                padding: 0 110px;
                    padding-bottom: unset;
        }
}

@media screen and (min-width: 901px) and (max-width: 1100px) {
    .imageBlockLeft {
        margin-left: unset;
        flex-direction: column;
        margin-top: 50px;
        margin-left: 0;
        gap: 40px;
        width: 100%;
    }

    .imageBlockRight {
        margin-left: unset;
        flex-direction: column;
        gap: 40px;
        align-self: self-end;
        padding-left: 28%;
        margin-left: 0;
        width: unset;
        padding-left: unset;
        align-items: flex-end;
    }

    .container {
        width: 100%;
    }
}
