.container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    overflow-x: hidden;
    padding-top: 50px;
    margin-top: -1rem;
}

.img {
    height: 8px;

    z-index: 2;

    object-fit: cover;
}

.imgContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 90%;
}

.gradient {
    position: absolute;
    height: 46.375rem;
    width: 40rem;
    flex-shrink: 0;
    top: -5rem;
    left: 8rem;
    background: linear-gradient(90deg, black 0%, rgba(0, 0, 0, 0) 16%),
        linear-gradient(90deg, rgba(0, 0, 0, 0) 92%, black 100%);
    z-index: 1;
    rotate: -7.25deg;
}

.video {
    position: relative;
    height: 46.375rem;
    flex-shrink: 0;
    top: -5rem;
    left: 7rem;
    z-index: 0;

    overflow: hidden;

    filter: brightness(100%);
    opacity: 0.9;

    rotate: -7.25deg;
}

.video::-webkit-media-controls {
    display: none !important;
}

.video::-webkit-media-controls {
    display: none !important;
}

.video::-webkit-media-controls-panel {
    display: none !important;
    -webkit-appearance: none;
}

/* Old shadow dom for play button */

.video::-webkit-media-controls-play-button {
    display: none !important;
    -webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works! */

.video::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none;
}

.contentContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    top: -35rem;
    width: 100%;
    align-items: center;

    z-index: 2;
}

.textContainer {
    display: flex;
    flex-direction: column;
    position: absolute;

    top: 9rem;
    height: auto;
    margin-right: 7%;

    color: #dadfe5;
}

.h1 {
    display: flex;
    width: 43.5625rem;
    flex-direction: column;
    flex-shrink: 0;
    color: #dadfe5;
    font-size: 8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 76%;
    letter-spacing: -0.48rem;
    z-index: 2;
}

.h2 {
    font-weight: 700;
    font-size: 18px;

    line-height: 21.6px;
    letter-spacing: -2%;

    align-content: left;

    color: #dadfe5;
}

.blockContainer {
    top: 15rem;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    position: relative;
    margin: 0 auto;
}

.overflow {
    height: 22rem;
    /* width: 51.125rem; */
    overflow: hidden;
}

.verticalOverflow {
    height: 36rem;
    width: 24.8125rem;
    overflow: hidden;
    margin-bottom: 2rem;
}

.gorizontalBlock {
    position: relative;
    display: flex;
    height: 20rem;
    padding-top: 4rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3.6875rem;
    border-radius: 0.25rem;
    background: #141517;
}

.verticalBlockContainer {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.verticalBlock {
    position: relative;
    display: flex;
    height: 31.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 7.8125rem;

    border-radius: 0.25rem;
    background: #141517;

    margin-top: 2rem;
}

.blockTexContainer {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.point {
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;

    background: #dadfe5;
}

.one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 40px;
}

.figure {
    color: #dadfe5;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.0225rem;
    text-transform: uppercase;
}

.header {
    display: flex;
    width: 24rem;
    flex-direction: column;
    justify-content: flex-end;
    color: #dadfe5;
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.18rem;
}

.roundButton {
    width: 52px;
    height: 52px;

    background: #dadfe5;
    border-radius: 60px;

    flex: none;
    order: 1;
    flex-grow: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.vector {
    position: absolute;
    color: black;
    transform: rotate(-45deg);
    font-size: 1.25rem;
    font-weight: bold;
}

.frameContainer {
    position: absolute;

    display: flex;
    align-items: flex-start;
    gap: 0.5rem;

    left: 0;

    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;

    bottom: -1.5rem;

    white-space: nowrap;
    will-change: transform;
    animation: marquee 20s linear infinite;
    -webkit-animation: marquee 20s linear infinite;
    animation-play-state: paused;
    animation-fill-mode: forwards;
}

.frameVerticalContainer {
    position: absolute;

    display: flex;
    align-items: flex-start;
    gap: 0.5rem;

    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;

    bottom: -1.5rem;

    white-space: nowrap;
    will-change: transform;
    animation: marquee 10s linear infinite;
    -webkit-animation: marquee 10s linear infinite;
    animation-play-state: paused;
    animation-fill-mode: forwards;
}

.frame {
    padding: 0.75rem 1.25rem;
    align-items: flex-start;
    gap: 0.5rem;

    height: 2.6875rem;
    width: auto;

    background: #000000;
    border: 2px solid rgba(218, 223, 229, 0.3);
    border-radius: 5.1875rem;
}

.frameText {
    color: #dadfe5;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.02rem;
    text-transform: uppercase;

    text-align: left;
    overflow: hidden;
}

/* ANIMATION */

.gorizontalBlock:hover .vector,
.verticalBlock:hover .vector {
    animation: vector 3s ease-in-out forwards;
    -webkit-animation: vector 3s ease-in-out forwards;
}

.gorizontalBlock:hover,
.verticalBlock:hover {
    background-color: #202024;
}

.gorizontalBlock:active,
.verticalBlock:active {
    background-color: #141517;
}

.gorizontalBlock:hover .frameContainer {
    animation: marquee 20s linear infinite;
    -webkit-animation: marquee 20s linear infinite;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-play-state: running;
    cursor: pointer;
}

.verticalBlock:hover .frameVerticalContainer {
    animation: marquee 10s linear infinite;
    -webkit-animation: marquee 10s linear infinite;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-play-state: running;
    cursor: pointer;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes vector {
    from {
        transform: rotate(-45deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@media screen and (max-width: 900px) {
    .container {
        left: 0;
        width: 100%;
        position: unset;
        margin-top: -2rem;
        align-items: flex-start;
    }

    .img {
        width: 100%;
        object-fit: cover;
    }

    .imgContainer {
        width: 100%;
    }

    .gradient {
        display: none;
    }

    .video {
        top: unset;
        left: -2rem;
        margin: 36px auto 0;
        height: 50%;
    }

    .textContainer {
        position: unset;
        z-index: 10;
        padding: 0 1rem 0 1rem;
        width: 21.375rem;
        margin: 0;
        padding: unset;
    }

    .h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 86%;
        letter-spacing: -0.24rem;
        width: 100%;
    }

    .h2 {
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: -0.0175rem;
        text-transform: uppercase;
    }

    .contentContainer {
        position: unset;
        width: 100%;
    }

    .blockContainer {
        margin-top: 30px;
        top: unset;
        width: 100%;
    }

    .gorizontalBlock {
        width: 100%;
        height: 17rem;
        padding-top: 3em;
        padding-bottom: 2em;
        justify-content: center;
    }

    .frameContainer {
        animation: unset;
        white-space: nowrap;
        will-change: transform;
        animation: marquee 20s linear infinite;
        -webkit-animation: marquee 20s linear infinite;
        animation-play-state: paused;
        animation-fill-mode: forwards;
    }

    .frameVerticalContainer {
        overflow: hidden;
        bottom: 0;
        white-space: nowrap;
        will-change: transform;
        animation: marquee 10s linear infinite;
        -webkit-animation: marquee 10s linear infinite;
        animation-play-state: paused;
        animation-fill-mode: forwards;
    }

    .verticalBlockContainer {
        flex-direction: column;
        width: 100%;
    }

    .verticalBlock {
        width: 100%;
        height: 20rem;
        margin-top: unset;
    }

    .verticalOverflow {
        height: unset;
        width: unset;
        margin-right: unset;
    }

    .blockTexContainer {
        width: 100%;
        height: unset;
        gap: 10px;
    }

    .frame {
        z-index: 1000;
        width: 100%;
    }

    .roundButton {
        margin-top: unset;
    }

    .one {
        margin-bottom: unset;
    }

    .header {
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: -0.12rem;
        text-align: center;
        width: 90%;
        overflow-wrap: break-word;
    }

    .verticalOverflow {
        margin: 10px 0;
    }

    .overflow {
        width: 100%;
        height: 299px;
    }

    .myImgContainer {
        margin-top: 200px;
    }
}

@media screen and (min-width: 341px) and (max-width: 370px) {
    .textContainer {
        padding: unset;
    }

    .h1 {
        width: 100%;
        font-size: 3.6rem;
        line-height: 76%;
        letter-spacing: -0.18rem;
        z-index: 2;
    }

    .h2 {
        padding: 5px 0px;
    }
}

@media screen and (min-width: 900px) and (max-width: 1300px) {
    .gradient {
        display: none;
    }
}

@media screen and (max-width: 340px) {
    .contentContainer {
        top: -29rem;
    }

    .textContainer {
        padding: unset;
    }

    .h1 {
        width: 100%;
        font-size: 3rem;
        line-height: 76%;
        letter-spacing: -0.18rem;
        z-index: 2;
        padding: 5px 0px;
    }

    .h2 {
        padding: 5px 0px;
    }

    .header {
        width: 100%;
    }
    .video {
        left: 0rem;
    }
}
