.container {
        width: 110vw;
            height: 85vh;
            position: relative;
            display: flex;
            align-items: center;
            z-index: 0;
            margin: 0;
            padding: 0;
}

.img {
    margin-top: -37rem;
}