.container {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    z-index: 100;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    flex-direction: column;
    top: -10rem;
}

.canvas {
    z-index: 10;
    display: block;
}

.logo {
    height: 80%;
    z-index: 10;
    margin-top: -250px;
}

.group {
    width: 80%;
    height: 80%;
}

.model {
    background: linear-gradient(0deg, rgba(79, 75, 255, 0.33), rgba(79, 75, 255, 0.33)),
        url(/image/untitled.png);
    background-blend-mode: overlay, normal;
    opacity: 0.3;
    filter: blur(7px);
}

@media screen and (max-width: 900px) {
    .logo {
        margin-top: -50px;
    }
}
