.container {
    width: 100%;
    height: 85vh;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 0;
    margin: 0;
    padding: 0;
    background-color: black;
    margin: 0 auto;
    flex-direction: column;
}

.logo {
    /* width: 100%; */
    height: 100%;
    /* position: absolute;
    left: -2vw;
    top: -30vh; */
    z-index: 1;
    color: #2984ff;
    margin-top: -250px;
}

/* @media screen and (max-width: 390px) {
    .container {
    width: 100%;
    height: 31vh;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.logo {
    width: 100%;
    height: 31vh !important;
    position: absolute;
    top: 2vh;
    padding: 0;
    left: 0;
}
} */

.model {
    background: linear-gradient(0deg, rgba(79, 75, 255, 0.33), rgba(79, 75, 255, 0.33)),
        url(/image/untitled.png);
    background-blend-mode: overlay, normal;
    opacity: 0.3;
    filter: blur(7px);
}

@media screen and (max-width: 900px) {
    .logo {
        margin-top: -50px;
    }
}
