.container {
    width: 100%;
    height: 27vw;
    position: relative;
    display: flex;
    z-index: 10;
    margin: 0 auto;
    top: -13rem;
}

.logo {
    z-index: 1000;
}

.group {
    width: 80%;
    height: 80%;
}

.model {
    background: linear-gradient(0deg, rgba(79, 75, 255, 0.33), rgba(79, 75, 255, 0.33)),
        url(/image/untitled.png);
    background-blend-mode: overlay, normal;
    opacity: 0.3;
    filter: blur(7px);
}

@media screen and (max-width: 900px) {
    .container {
        height: 70vw;
        top: -1rem;
    }
}

@media screen and (min-width: 901px) and (max-width: 1200px){
    .container {
        height: 60vw;
        top: -11rem;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1900px) {
    .container {
        height: 48vw;
        top: -11rem;
    }
}

@media screen and (min-width: 1901px) and (max-width: 2000px) {
    .container {
        height: 47vw;
    }
}

@media screen and (min-width: 2001px) and (max-width: 2200px) {
    .container {
        height: 42vw;
    }
}

@media screen and (min-width: 2201px) and (max-width: 2300px) {
    .container {
        height: 40vw;
    }
}

@media screen and (min-width: 2301px) and (max-width: 2500px) {
    .container {
        height: 39vw;
    }
}

@media screen and (min-width: 2501px) and (max-width: 2600px) {
    .container {
        height: 36vw;
    }
}

@media screen and (min-width: 2601px) and (max-width: 2800px) {
    .container {
        height: 34vw;
    }
}

@media screen and (min-width: 2701px) and (max-width: 2900px) {
    .container {
        height: 34vw;
    }
}

@media screen and (min-width: 2901px) and (max-width: 3200px) {
    .container {
        height: 30vw;
    }
}

@media screen and (min-width: 3201px) and (max-width: 3500px) {
    .container {
        height: 28vw;
    }
}

@media screen and (min-width: 3501px) and (max-width: 4000px) {
    .container {
        height: 26vw;
    }
}

@media screen and (min-width: 4001px) and (max-width: 4600px) {
    .container {
        height: 22vw;
    }
}