.nav {
    transform: scale(0);
}

.fixed {
    transform: scale(1);
    position: sticky;
    height: 3.5rem;
    /* width: 92.25rem; */
    margin: 0 8rem 0 8rem;
    left: 15vw;
    top: 5vh;

    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(17px);

    border-radius: 3.5625rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    flex-shrink: 0;

    z-index: 100;

    opacity: 1;
}

.logo {
    width: 7.1875rem;
    height: 3.25rem;
    background-blend-mode: overlay, normal;
}

.linkContainer {
    display: inline-flex;
    align-items: flex-start;
    gap: 6.5rem;

    width: 41.9375rem;
}

.link {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.025rem;

    display: flex;
    letter-spacing: -0.02em;

    color: #ffffff;

    opacity: 0.4;
}

.button {
    display: inline-flex;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;

    border-radius: 3.75rem;
    background: #cbcbcb;

    color: #000000;

    text-align: right;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 1.5rem */
    letter-spacing: -0.025rem;
}

.button:hover {
    background: #ffffff;
}

.button:active {
    background: #dadfe5;
}

@media (min-width: 900px) and (max-width: 1300px) {
    .link {
        font-size: 15px;
    }
    .fixed {
        width: 100%;
        margin: 0;
    }

        .linkContainer {
            justify-content: center;
            gap: 5rem;
    
            width: 30rem;
        }

    .button {
        font-size: 0.75rem;
        padding: 1rem 2rem;
    }
}

@media (max-width: 900px) {
    .nav,
    .fixed {
        display: none;
    }
}
