.nav {
    transform: scale(0);
}

.fixed {
    transform: scale(1);
    position: sticky;
    height: 8vh;
    left: 15vw;
    top: 5vh;

    /* margin-top: 20vh; */

    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(17px);

    border-radius: 57px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;

    z-index: 5;

    opacity: 1;
}

.logo {
    width: 7.1875rem;
    height: 3.25rem;
    background-blend-mode: overlay, normal;
}

.linkContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;

    width: 35vw;
}

.link {
    width: 7vw;
    height: 20px;

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;

    display: flex;
    letter-spacing: -0.02em;

    color: #ffffff;

    opacity: 0.4;
}

.button {
    padding: 16px 32px;

    background: #cbcbcb;
    border-radius: 60px;

    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 120%;

    letter-spacing: -0.02em;

    color: #000000;
}

.button:hover {
    background: #ffffff;
}

.button:active {
    background: #dadfe5;
}

@media (min-width: 900px) and (max-width: 1200px) {
    .link {
        font-size: 15px;
    }
}

@media (max-width: 900px) {
    .nav,
    .fixed {
        display: none;
    }
}
