.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    width: 100%;
    background-color: black;
}

.container {
    width: 100%;
    gap: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    width: 100%;
}

.header {
    margin-top: 95px;
    margin-bottom: 48px;
}

.h1,
.h2 {
    font-size: 128px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.36rem;
    white-space: nowrap;
}

.h1 {
    color: #0067f4;
}

.input {
    border-radius: 4px;
    background: #141517;
    display: flex;
    padding: 16px 0px;
    padding-left: 24px;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    /* flex: 1 0 0; */
}

.input::placeholder {
    color: #dadfe5;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: -1.44px;
    opacity: 0.3;
}

.input:hover {
    outline: none;
    color: #dadfe5;
}

.input:active {
    outline: none;
}

.inputDescription {
    display: flex;
    width: 100%;
    padding: 16px 24px 100px;
    align-items: flex-start;
    gap: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 818px;
    align-items: center;
}

.button {
    padding: 20px 48px;
    border-radius: 60px;
    background: #0067f4;
    width: 100%;
    margin-top: 32px;
    font-size: 24px;
}

.formInputs {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .formInputs {
        flex-direction: column;
    }

    .form {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .container {
        width: 100%;
    }

    .h1,
    .h2 {
        font-size: 64px;
        line-height: 86%;
        letter-spacing: -3.84px;
        white-space: unset;
    }

    .img {
        width: 100%;
        height: 8px;
        object-fit: cover;
    }

    .wrapper {
        width: 100%;
        padding: 0px 16px 64px 16px;
    }

    .input::placeholder {
        font-size: 18px;
    }

    .button {
        font-size: 16px;
        margin-top: 24px;
    }
}

@media screen and (min-width: 1890px) {
    .wrapper {
        width: 1792px;
    }
}

/* .container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 100%;
    scroll-behavior: smooth;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.input {
    background-color: black;
    display: flex;
    outline: none;
    font-weight: 700;
    font-size: 7rem;
    text-align: center;

    color: #dadfe5;
    height: 132px;
    width: 70%;
}

.description {
    font-size: 3rem;
    width: 70%;
    height: 10rem;
    text-align: center;
    overflow: scroll;
    overflow-x: auto;
    overflow-y: hidden;
    resize: none;
}

.description::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.description::placeholder {
    display: flex;
    flex-wrap: wrap;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 80%;
    letter-spacing: -0.24rem;
}

.input::placeholder {
    color: #dadfe5;
    text-align: center;
    font-size: 8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 76%;
    letter-spacing: -0.48rem;
    opacity: 0.30000001192092896;
}

.input:hover {
    opacity: 0.6;
    outline: none;
}

.input:active {
    opacity: 0;
    outline: none;
    font-weight: 700;
    font-size: 8rem;
    overflow: auto;
    width: 100%;
    color: white;
}

.button {
    display: flex;
    width: 24.875rem;
    padding: 1.75rem 3rem;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;

    font-size: 20px;
    width: 398px;
    height: 78px;

    background: #0067f4;
    border-radius: 3.75rem;

    flex: none;
    order: 1;
    flex-grow: 0;

    margin-top: 2rem;
}

.button:hover {
    background: #2984ff;
}

.button:active {
    background: #0067f4;
}

@media screen and (max-width: 901px) and (max-width: 1580px) {
    .description {
        font-size: 3rem;
        width: 100%;
    }
    .description::placeholder {
        font-size: 3rem;
        font-style: normal;
        font-weight: 700;
        line-height: 80%;
        letter-spacing: -0.24rem;
    }
    .input {
        -webkit-user-select: text;
        -khtml-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
    }
}

@media screen and (max-width: 900px) {
    .input::placeholder {
        font-size: 4rem;
        font-style: normal;
        font-weight: 700;
        line-height: 86%;
        letter-spacing: -0.24rem;
    }

    .description {
        font-size: 3rem;
        overflow-wrap: break-all;
        width: 80%;
    }

    .description::placeholder {
        display: flex;
        flex-wrap: wrap;
        font-size: 3.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 80%;
        letter-spacing: -0.24rem;
        overflow-wrap: break-all;
    }

    .input {
        width: 100%;
        height: 3.4375rem;
        font-size: 2rem;
        color: white;
        height: unset;
        padding-top: 10px;
    }

    .container {
        width: 100%;
    }

    .inputGroup {
        height: 20.1875rem;
        width: 100% !important;
        gap: 1rem;
    }

    .input:active {
        width: 100%;
        color: white;

        opacity: unset;
        outline: unset;
        font-weight: unset;
        font-size: unset;
        overflow: unset;
    }

    .input:hover {
        width: 100%;
    }

    .container {
        margin-bottom: 100px;
    }

    .button {
        width: 95%;
        height: 7vh;

        font-size: 16px;
    }
} */
