.container {
    display: flex;
    width: 90%;
    flex-direction: column;
    position: relative;
}

.h1 {
    display: flex;
    width: 43.5625rem;
    flex-direction: column;
    flex-shrink: 0;
    font-size: 8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 76%;
    letter-spacing: -0.48rem;

    margin-top: 20px;
    margin-left: 1rem;

    color: #dadfe5;
}

.h1Color {
    color: #0067f4;
}

.subtractGreenPink {
    margin-left: 6rem;
    margin-top: 1rem;
}

.textContainer {
    display: flex;
    width: 34.375rem;
    height: 13.5rem;
    flex-direction: column;
    flex-shrink: 0;
    margin-top: 4rem;
    margin-left: 20%;
}

.text {
    color: #dadfe5;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -0.12rem;

    text-align: left;
    margin-left: 2rem;
}

.substract {
    display: flex;
    flex-direction: column;
}

.substractContainer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1vw;
}

/* ANIMATION */
.substractContainerBlue:hover,
.substractContainerPink:hover {
    animation: rotate 3s ease-in-out forwards;
    -webkit-animation: rotate 3s ease-in-out forwards;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.substractContainerGreen:hover {
    animation: rotateGreen 3s ease-in-out forwards;
    -webkit-animation: rotateGreen 3s ease-in-out forwards;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-15deg);
    }
}

@keyframes rotateGreen {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(15deg);
    }
}

.substractContainerBlue {
    right: -2rem;
    width: 20rem;
}

.substractContainerPink {
    margin-left: -14rem;
    margin-top: -3rem;
    width: 20rem;
}

.substractContainerGreen {
    right: -5.5rem;
    top: 27rem;
    width: 20rem;
}

.frame {
    z-index: 0;
    width: 23rem;
    height: 23rem;
}

.substractText {
    text-align: center;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.18rem;
    z-index: 1;
    position: absolute;
}

.blue {
    color: #0f74ff;
}

.green {
    color: #24f946;
}

.pink {
    color: #ff3998;
}

@media screen and (max-width: 1600px) {
    .frame {
        z-index: 0;
        width: 15rem;
        height: 15rem;
    }

    .substractText {
        font-size: 2rem;
    }

    .textContainer {
        margin-left: 10%;
    }

    .substractContainerBlue {
        right: -40px;
    }

    .substractContainerGreen {
        right: -120px;
    }

    .text {
        margin-left: 0;
    }

    .h1 {
        font-size: 6.5rem;
        width: 510px;
    }
}

@media (min-width: 900px) and (max-width: 1200px) {
    .substractContainerBlue {
        left: 85%;
        width: 260px;
    }

    .substractContainerGreen {
        left: 97%;
        width: 260px;
    }

    .substractContainerPink {
        width: 260px;
    }

    .text {
        font-size: 1.8rem;
    }

    .h1 {
        font-size: 6rem;
    }
}

@media screen and (max-width: 900px) {
    .container {
        padding-bottom: 0;
    }
    .substract {
        align-items: center;
    }
    .h1 {
        width: 19rem;
        font-size: 4rem;
        font-style: normal;
        font-weight: 700;
        line-height: 86%;
        letter-spacing: -0.24rem;
        margin-top: 0;

        z-index: 100;
    }

    .substractContainer {
        position: unset;
    }

    .substractText {
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: -0.12rem;
    }

    .textContainer {
        order: 3;
        width: 15.3125rem;
        margin-left: 30%;
    }

    .substractContainerBlue,
    .substractContainerGreen {
        transform: rotate(-14deg);
        width: 260px;
        margin-left: 19%;
        margin-top: -2.5rem;
    }
    .substractContainerPink {
        transform: rotate(12deg);
        margin-top: -50px;
        margin-left: -23%;
        width: 260px;
        z-index: 10;
    }

    .substractContainerGreen {
        margin-top: -50px;
        z-index: 100;
    }
    .text {
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: -0.05rem;
    }
}

@media screen and (max-width: 340px) {
    .h1 {
        width: 100%;
        font-size: 4rem;
        line-height: 76%;
        letter-spacing: -0.2rem;
        z-index: 2;
        padding: 5px 16px;
    }

    .substractContainerBlue {
        width: 210px;
        margin-left: 15px;
    }

    .substractContainerGreen {
        width: 210px;
        margin-left: 10px;
    }

    .substractContainerPink {
        width: 210px;
        margin-left: 5px;
    }

    .substractText {
        font-size: 1.5rem;
    }

    .text {
        font-size: 1rem;
    }

    .textContainer {
        margin-right: 30%;
    }
}
