@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
}

html {
    min-width: 100%;
    min-height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-color: black;
    background-size: cover;

    color: #dadfe5;
    min-width: 100%;

    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-synthesis: none;
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
}

textarea {
    padding: 0;
}

.main {
    min-width: 100%;
}

.allworks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 95%;
}

.homePageContainer {
    width: 95%;
    height: 100%;
    background-color: black;
    margin: 0 auto;
}

@media screen and (min-width: 1887px) {
    .homePageContainer {
        width: 1792px;
    }
}

@media screen and (min-width: 370px) and (max-width: 1200px) {
    .allworks {
        width: 100%;
    }
    .homePageContainer {
        background: rgb(0, 0, 0);
        width: 100%;
        padding: 16px;
    }
}

@media screen and (max-width: 370px) {
    html {
        min-width: 100%;
        height: 100%;
    }

    body {
        min-width: 100%;
    }
    .homePageContainer {
        background: rgb(0, 0, 0);
        width: 100%;
        padding: 16px;
        overflow: hidden;
    }

    .allworks {
        width: 100%;
    }
}

@media only screen and (max-device-width: 340px) and (orientation: portrait) {
    textarea {
        padding: 0;
    }
}
