.container {
    height: 100%;

    width: 70vw;
    left: calc(50% - 832px / 2 - 1px);
    top: 27vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.nav {
    display: flex;
    flex-direction: row;
}

.pointContainer {
    display: flex;
    flex-direction: row;

    padding-top: 10px;
}

.point {
    width: 14px;
    height: 14px;
    left: 553px;
    top: 284px;

    background: #0067f4;
    border-radius: 17px;

    margin-top: 3px;
}

.about {
    color: #dadfe5;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.0225rem;
    text-transform: uppercase;
}

.bul {
    color: #dadfe5;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -0.12rem;
    margin-left: 3rem;
}

.h1 {
    display: flex;
    width: 38.625rem;
    flex-direction: column;
    flex-shrink: 0;
    color: #dadfe5;
    font-size: 8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 76%;
    letter-spacing: -0.48rem;

    margin-top: 2rem;
}

.textContainer {
    width: 35vw;
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-left: 16rem;
}

.text {
    display: flex;
    width: 38.625rem;
    flex-direction: column;
    flex-shrink: 0;
    color: #dadfe5;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -0.12rem;
}

.gif {
    height: 16vh;
    display: flex;
    flex-direction: row;
    justify-content: left;

    margin: 7rem 0 2rem 7rem;
}

.tooltip {
    cursor: pointer;
}

.tooltip::after {
    background: #202024;
    border-radius: 4px;
    color: #dadfe5;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;

    letter-spacing: -0.02em;
    text-transform: uppercase;

    padding: 8px 12px;
    margin-top: -10rem;

    width: auto;
    height: 38px;

    content: attr(data-tooltip);
    opacity: 0;
    position: absolute;
    visibility: hidden;

    transition: all 0.4s ease-in-out;
}

.tooltip:hover::after {
    opacity: 1;
    visibility: visible;
}

.frame {
    display: flex;
    width: 9rem;
    height: 9rem;
    padding: 0.25rem 0.125rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    overflow: hidden;

    background: radial-gradient(50% 50% at 50% 50%,
            rgba(255, 255, 255, 0) 53.65%,
            rgba(255, 255, 255, 0.04) 100%),
        #141517;
    border-radius: 12.5rem;
    border: 2px dashed rgba(255, 255, 255, 0.1);
}

.frame * {
    width: 100%;
    height: 100%;
    mix-blend-mode: lighten;

    position: sticky;
}

.framegif1 {
    z-index: 4;
}

.framegif2 {
    z-index: 3;
}

.framegif3 {
    z-index: 2;
}

.framegif4 {
    z-index: 1;
}

.gif1 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 91.67%, rgba(0, 0, 0, 0.6) 100%),
        linear-gradient(90deg, rgba(0, 0, 0, 0) 91.67%, rgba(0, 0, 0, 0.6) 100%),
        linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 16.33%);
    opacity: 0.6;
    overflow: hidden;
}

.gif2 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 86.82%, #000000 96.93%),
        linear-gradient(90deg, rgba(0, 0, 0, 0) 91.67%, #000000 100%),
        linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 16.33%);
    mix-blend-mode: lighten;
    opacity: 0.6;
    overflow: hidden;
}

.gif3 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 86.82%, #000000 96.93%),
        linear-gradient(90deg, rgba(0, 0, 0, 0) 91.67%, #000000 100%),
        linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 16.33%);
    opacity: 0.6;
    overflow: hidden;
}

.gif4 {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 91.67%, #000000 100%),
        linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 16.33%);
    mix-blend-mode: lighten;
    opacity: 0.6;
    transform: rotate(-7.25deg);
    overflow: hidden;
}

.gif1:hover,
.gif2:hover,
.gif3:hover,
.gif4:hover {
    opacity: 1;
}

.h2 {
    display: flex;
    width: 51.1875rem;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;
    color: #dadfe5;
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.18rem;
}

.button {
    display: flex;
    width: 24.875rem;
    height: 4.875rem;
    padding: 1.75rem 3rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-shrink: 0;

    position: absolute;
    left: calc(50% - 35rem / 2 - 1rem);
    top: 65rem;

    background: #141517;
    border-radius: 3.75rem;

    color: #dadfe5;
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 90%;
    letter-spacing: -0.06rem;
}

.button:hover {
    background: #202024;
}

.button:active {
    background: #141517;
}

@media screen and (max-width: 900px) {
    .container {
        left: 0;
        width: 100%;
        margin-bottom: 400px;
    }

    .nav {
        width: 100%;
        gap: 15px;
        align-items: center;
    }

    .bul {
        white-space: nowrap;
        margin-left: 0;
        font-size: 20px;
        padding-top: 10px;
    }

    .h1 {
        font-size: 4em;
        width: 100%;
        letter-spacing: 0;
    }

    .text {
        flex-shrink: unset;
    }

    .textContainer {
        margin-left: 19%;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 110%;
        width: 300px;
        letter-spacing: -0.8px;
    }

    .gif {
        /* margin: 70px 10px; */
        margin: 70px auto;
        justify-content: space-around;
        width: 100%;
    }

    .h2 {
        width: 84%;
        font-size: 40px;
        margin: 0 auto;
    }

    .frame {
        width: 6.9em;
        height: 6.9em;
    }
}